{% extends 'base.html' %}

{% block content %}
    <div class="container my-3">
        <p>무엇이 필요하신가요?</p>
      <form method="post" class="post-form">
        {{ form.csrf_token }}
<!--        form 쓰려면 이 부분은 꼭 있어야 함-->
        {% for field,errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
          <strong>{{ form[field].label }}</strong> : {{ ','.join(errors) }}
        </div>
        {% endfor %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}

        <div class="form-group">
          {{ form.search.label }}
          {{ form.search(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">검색하기</button>
      </form>
    </div>
{% endblock %}